@import url('normalize.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
